boto==2.43.0
filechunkio
hubstorage==0.16.1
-e git+git://github.com/scrapinghub/collection-scanner.git@0.1.2#egg=collection_scanner
kafka-python==0.9.5
msgpack-python==0.4.2
-e git+git://github.com/scrapinghub/kafka-scanner.git@0.2.4#egg=kafka_scanner
jq==0.1.6

pysftp==0.2.8
ecdsa==0.13
paramiko==1.15.2
pycrypto==2.6.1
wsgiref==0.1.2

boltons==15.1.0

PyDrive==1.2.1
oauth2client==3.0.0

gcloud==0.9.0
protobuf==3.0.0b2

Jinja2==2.8
dateparser==0.3.3

python-dateutil==2.4.2

# pinning version for dateparser dependency:
jdatetime==1.7.2

azure-storage==0.30.0

dropbox==6.5.0

dicttoxml
bz2file

flatson
