# ATTENTION: be mindful of adding dependencies to this file
# remember to load a dependency lazily when appropriate

sqlitedict==1.3.0
SQLAlchemy==1.0.5
PyYAML==3.11
psycopg2==2.6.1
kafka-scanner==0.3.1

mysql-python==1.2.5

# retrying and its deps
retrying==1.2.3

requests==2.5.3
six==1.9.0
decorator
